<mat-card>
  <mat-card-title>
    <label>Il y a {{nbSondagesTypeChoix}} sondages de type choix créés.</label>
  </mat-card-title>
</mat-card>
<mat-card>
  <mat-card-title>
    <label>Il y a {{nbSondagesTypeDate}} sondages de type date créés.</label>
  </mat-card-title>
</mat-card>
<mat-card>
  <mat-card-title>
    <label>Il y a {{nbSondagesTypeDateEtLieu}} sondages de type date & lieu créés.</label>
  </mat-card-title>
</mat-card>
<mat-card>
  <mat-card-title>
    <label>Il y a {{nbSondagesTypeLieu}} sondages de type lieu créés.</label>
  </mat-card-title>
</mat-card>
<mat-card>
  <mat-card-title>
    <label>Il y a {{nbSondagesTypeListeChoix}} sondages de type liste de choix créés.</label>
  </mat-card-title>
</mat-card>
<mat-card>
  <mat-card-title>
    <label>Soit {{nbSondages}} sondages de créés au total</label>
  </mat-card-title>
</mat-card>

