<mat-card>
  <mat-card-title>
    <label [matBadge]="nbSondages" matBadgeOverlap="false" matTooltip="Nombre de sondages enregistrés">Sondages</label>
  </mat-card-title>
</mat-card>

<app-mat-table *ngIf="surveys" [dataToDisplay]="surveys" [displayedColumns]="displayedColumns"
               [isLoading]="isLoading"></app-mat-table>
<mat-card *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center">
  <mat-progress-spinner
    color="primary"
    mode="indeterminate">
  </mat-progress-spinner>
</mat-card>
