<div class="container">

  Par défaut, l'employé portant l'id 1 est affiché.

    Vous pouvez cependant en afficher un autre en entrant son id.
    <br>
    <label>
        <input [(ngModel)]="employeId" type="number">
    </label>
    <input (click)="getEmploye(employeId)" type="button" value="Chercher l'employé"/>

    <mat-card *ngIf="employeToDisplay">
    Prénom:
    <mat-card-title>{{employeToDisplay.firstName}}</mat-card-title>
    Nom:
    <mat-card-subtitle>{{employeToDisplay.lastName}}</mat-card-subtitle>
        <mat-card-content>Sondages créés :
            <p *ngFor="let sondage of employeToDisplay?.sondages">- <b>Titre :</b> {{sondage.titre}} <b>/ Thème
                :</b> {{sondage.theme}}</p>
        </mat-card-content>
  </mat-card>

    <mat-card *ngIf="!employeToDisplay">
        Aucun employé ne porte cet id !
    </mat-card>
</div>
