<div class="container">
  <mat-tab-group>
      <ng-template matTabLabel>
        <span [matBadge]="nbSondagesTypeDate" matBadgeOverlap="false">Date</span>
      </ng-template>
    <app-mat-table> *ngIf="sondagesToDisplay" [dataToDisplay]="sondagesToDisplay"></app-mat-table>
      <ng-template matTabLabel>
        <span [matBadge]="nbSondagesTypeLieu" matBadgeOverlap="false">Lieu</span>
      </ng-template>
    <app-mat-table> *ngIf="sondagesToDisplay" [dataToDisplay]="sondagesToDisplay"></app-mat-table>
      <ng-template matTabLabel>
        <span [matBadge]="nbSondagesTypeDateEtLieu" matBadgeOverlap="false">Date & Lieu</span>
      </ng-template>
    <app-mat-table> *ngIf="sondagesToDisplay" [dataToDisplay]="sondagesToDisplay"></app-mat-table>
      <ng-template matTabLabel>
        <span [matBadge]="nbSondagesTypeListeChoix" matBadgeOverlap="false">Choix</span>
      </ng-template>
    <app-mat-table> *ngIf="sondagesToDisplay" [dataToDisplay]="sondagesToDisplay"></app-mat-table>
  </mat-tab-group>
</div>
