<mat-sidenav-container hasBackdrop="true"
                       (backdropClick)="close()" class="example-container">
  <mat-sidenav #sidenav (keydown.escape)="close()" disableClose id="sidenav" mode="side">
    <p>
      <a routerLink="">
        <button (click)="close()" color="primary" mat-button>Accueil</button>
      </a>
    </p>
    <hr>
    <p>
        <a routerLink="addDepartment">
            <button (click)="close()" color="primary" mat-button>Ajouter un département</button>
        </a>
    </p>
      <hr>
      <p>
          <a routerLink="addEmployee">
              <button (click)="close()" color="primary" mat-button>Ajouter un employé</button>
          </a>
      </p>
      <p>
          <a routerLink="employes">
              <button (click)="close()" color="primary" mat-button>Voir les employés</button>
          </a>
      </p>
    <p>
      <a routerLink="employes-count">
        <button (click)="close()" color="primary" mat-button>Compter les employés</button>
      </a>
    </p>
    <p>
      <a routerLink="employe">
        <button (click)="close()" color="primary" mat-button>Voir un employé</button>
      </a>
    </p>
    <p>
      <button (click)="close()" color="primary" mat-button>Supprimer un employé</button>
    </p>
    <hr>
    <p>
      <a routerLink="addSurvey">
        <button (click)="close()" color="primary" mat-button>Ajouter un sondage</button>
      </a>
    </p>
    <p>
      <a routerLink="sondages">
        <button (click)="close()" color="primary" mat-button>Voir les sondages</button>
      </a>
    </p>
    <p>
        <a routerLink="answerSurveys">
            <button (click)="close()" color="primary" mat-button>Répondre à un sondage</button>
        </a>
    </p>
      <p>
          <a routerLink="sondages-type">
              <button (click)="close()" color="primary" mat-button>Voir les sondages d'un certain type</button>
          </a>
      </p>
    <p>
      <a routerLink="sondages-count">
        <button (click)="close()" color="primary" mat-button>Compter les sondages</button>
      </a>
    </p>
    <p>
      <a routerLink="sondages-type-count">
        <button (click)="close()" color="primary" mat-button>Compter les sondages d'un certain type</button>
      </a>
    </p>
    <p>
      <a routerLink="sondage">
        <button (click)="close()" color="primary" mat-button>Voir un sondage</button>
      </a>
    </p>
    <p>
      <button (click)="close()" color="primary" mat-button>Supprimer un sondage</button>
    </p>
    <hr>

  </mat-sidenav>

  <mat-sidenav-content>
    <p>
      <button (click)="sidenav.open()" color="primary" mat-fab mat-icon-button matTooltip="Dévoiler le menu !"></button>
    </p>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- Copyright 2019 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
